$header_background_color: #99864A;
$header_background_color2: #AFA560;
$header_background_color3: #B4AA64;
$header_background_color4: #998D4E;
$header_background_color5: #AA9650;
$header_background_color6: #A58E49;
$header_background_color7: #BCAC6B;
$red_color: #A96A41;
$green_color: #60913D;


/* Wocommerce */
