.page-id-240 {
	.top-information {
		height: 25px; 

		.top-information-container{
		   display: none;	
		}	
	}

	.x-navbar-wrap, .x-breadcrumb-wrap {
		display: none;
	}

	.x-container.max {
		max-width:none !important;
	}

	.x-container {
		
		.el1 {
	        @include breakpoint($small) {
	            display: none !important;
	        }

			.wonderplugin-box {
				display: flex !important;
				width: 90%;
				justify-content: flex-end;

			}

		}

		.el10 {
			display: none;

	        @include breakpoint($small) {
	            display: block !important;
	        }		

	        .wonderplugin-box-dialog{
	        	justify-content: center;
	        	width: 90% !important;
	        	margin-top: 10rem !important;
	        }

		}

		.el20 {
	        @include breakpoint($small) {
	            padding: 0 10px !important;
	        }					
		}

	}

  #menu-esmm_menu_top-2 {
  	display:none;
  }
}